@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/figtree";

/* Remove o user-select para UX de app desktop */
* {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco",
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  border-radius: 36px;
  overflow: hidden;
  margin: 0;
  background: transparent;
  color: #f6f6f6;
  background-color: transparent;
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* text-align: center; */
  overflow: hidden;
  background: transparent;
  padding: 12px 16px 8px 16px;
  background-color: rgba(0, 0, 0, 0.10);
}

.cerebro-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.15) transparent;
}